*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #07b9f0;
}
.wrapper{
    width: 400px;
    background: white;
    border-radius: 10px;
    padding: 20px 20px 40px 20px;
}
header h2{
    font-size: 24px;
    font-weight: 600;
}
header p{
    margin-top: 5px;
    font-size: 16px;
}
.price-in .field{
    height: 45px;
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.price-in .field:nth-child(1){
    float: left;
}
.price-in .field:nth-child(2){
    display: inline-flex;
}
.field input{
    width: 42%;
    height: 82%;
    outline: none;
    margin-left: 12px;
    border: 1px solid gray;
    background: white;
    border-radius: 10px;
    padding-left: 10px;
}
.field input[type="number"]::-webkit-inner-spin-button,
.field input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.slider{
    height: 5px;
    border-radius: 5px;
    background: gray;
    position: relative;
    top: 15px;
}
.slider .pro{
    height: 5px;
    left: 7%;
    right: 4%;
    position: absolute;
    border-radius: 5px;
    background: #04b6ec;
}
.range-in{
    position: relative;
}
.range-in input{
    position: absolute;
    top: 10px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}
.range-in input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50px;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #04b6ec;
    border: none;
}
